# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/app/node_modules
/talebubbles/node_modules

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log

/app/yarn.lock
/app/package-lock.json
/talebubbles/yarn.lock
/talebubbles/package-lock.json

# production
/app/dist
/talebubbles/dist

# misc
.DS_Store

/.env.local

# next
/app/.next
/app/src/.next
